extends layouts/main.pug
include mixins/videoBlock

block content
    .videos
        each item in fakedb
            +videoBlock({
                title:item.title,
                views:item.vies,
                videoFile:item.videoFile
            })